/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 500px;
}

mainbox {
    children: [inputbar, message, listview];
}

inputbar {
    children: [textbox-prompt-colon, entry];
}

textbox {
    font: "JetBrainsMono Nerd Font Propo Bold 12";
    horizontal-align: 0.5;
    text-color: #9fcbfc;
}
textbox-prompt-colon {
    color: #9fcbfc;
    str: " ";
}
entry {
    color: #9fcbfc;
}

listview {
    columns: 1;
    lines: 8;
}

element-text {
    horizontal-align: 0.5;
    highlight: none;
}

message {
    border: 1px 0px 1px 0px;
}
