/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    show-icons: true;
}

window {
    border-radius: 5px 5px 5px 5px;
    location: center;
    anchor: center;
    width: 1004px;
}

mainbox {
    children: [ message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    lines: 1;
    columns: 1;
}

element {
    padding: 0px 0px 0px 0px;
}
element-icon {
    size: 1000px;
    expand: false;
}
element-text {
    enabled: false;
}

message {
    margin: 0px 0px -2px 0px;
}
textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
