/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: none;
}

window {
    width: 1000px;
}

mainbox {
    children: [ message, listview ];
}

listview {
    padding: 0px 3px 2px 3px;
    fixed-columns: true;
    fixed-height: true;
    flow: horizontal;
    scrollbar: false;
    columns: 5;
    lines: 3;
}

element {
    children: [ element-icon, element-text ];
    orientation: vertical;
    spacing: 4px;
    padding: 8px;
}
element selected {
    border: 2px;
    border-radius: 2px;
    border-color: #6a707f;
}
element-icon {
    size: 150px;
    horizontal-align: 0.5;
}
element-text {
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo SemiBold 11";
}

message {
    background-color: #16191d;
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #b6e0a4;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
