/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 1000px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    columns: 2;
    lines: 10;
}

element-text {
    highlight: bold #b6e0a4;
}

textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
