/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/
* Independent config, bypasses rofi's globals */

configuration {
    recursivebrowser {
        filter-regex: "(.*cache.*|.*\\.o)";
        cancel-returns-1: true;
        command: "xdg-open";
        directory: "~";
    }
}
