/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

window {
    width: 100%;
}

mainbox {
    children: [inputbar, listview];
}

inputbar {
    children: [textbox-prompt-colon, entry];
    padding: 4px 8px;
    spacing: 4px;
}
textbox-prompt-colon {
    padding: 2px 0px 2px 4px;
    color: #c8a4e0;
    str: " ";
}
entry {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    color: #c8a4e0;
}

listview {
    columns: 3;
    lines: 12;
}

element-text {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    highlight: bold #c8a4e0;
}
