/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

* {
  min-height: 0;
  min-width: 0;
  border: none;
  font-family: "0xProto Nerd Font";
  font-size: 14px;
  background: none;
}

#workspaces button.special {
  padding: 0px 8px 4px 8px;
  font-weight: bold;
  color: #fab387;
}

#custom-div {
  padding: 0px 8px 4px 8px;
  color: #dfdfdd;
}

#custom-privacydots {
  padding: 0px 4px 4px 8px;
}

#clock {
  padding: 0px 8px 4px 4px;
  font-weight: bold;
  color: #9bbfbf;
}

#pulseaudio {
  padding: 0px 8px 4px 16px;
  font-weight: bold;
  color: #9bbfbf;
}

#cpu, #temperature, #custom-nvidia, #network, #memory {
  padding: 0px 4px 4px 4px;
  color: #dfdfdd;
}
#cpu.mid, #temperature.warning {
  color: #e0d8a4;
}

#cpu.high, #temperature.critical, #network.disconnected, #pulseaudio.muted {
  color: #E0AEA4;
}

#custom-paru {
  padding: 0px 8px 4px 8px;
  color: #9bbfbf;
}
#custom-paru.pending-updates {
  font-weight: bold;
  color: #fab387;
}

#tray-expander {
  padding: 0px 0px 4px 8px;
  color: #9bbfbf;
}
#tray {
  padding: 0px 8px 0px 0px;
}

tooltip {
  background-color: #000000;
  border: 1px solid #20242a;
  border-radius: 0;
}
tooltip label{
  color: #DFDFDD;
  margin: -4px;
}
