/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

* {
  min-height: 0;
  min-width: 0;
  border: none;
  font-family: "0xProto Nerd Font";
  font-size: 14px;
}

#waybar {
  background-color: #20242a;
}

#workspaces button.special {
  padding: 0px 8px 0px 8px;
  color: #fab387;
}
#workspaces button:hover {
  background: none;
  box-shadow: none;
}

#network.disconnected, #temperature.critical, #pulseaudio.muted {
  color: #E0AEA4;
}

#custom-div {
  padding: 0px 4px 0px 4px;
  color: #dfdfdd;
}

#custom-privacydots {
  padding: 0px 8px 0px 8px;
}

#clock {
  padding: 0px 8px 0px 8px;
  color: #9bbfbf;
}

#pulseaudio {
  padding: 0px 8px 0px 12px;
  color: #9bbfbf;
}

#cpu, #temperature, #custom-nvidia, #network, #memory {
  padding: 0px 8px 0px 8px;
  color: #dfdfdd;
}

#custom-pacman {
  padding: 0px 0px 0px 8px;
  color: #9bbfbf;
}
#custom-pacman.pending-updates {
  padding: 0px 12px 0px 8px;
  color: #e0d8a4;
}

#tray-expander {
  padding: 0px 0px 0px 8px;
  color: #9bbfbf;
}
#tray {
  padding: 0px 12px 0px 4px;
}

tooltip {
  background-color: #000000;
  border: 1px solid #20242a;
  border-radius: 0;
}
tooltip label{
  color: #DFDFDD;
  margin: -4px;
}
