/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

* {
  min-width: 0;
  min-height: 0;
  font-family: "0xProto Nerd Font";
  font-size: 12px;
  font-weight: bold;
  border: none;
}

#workspaces button {
  padding: 8px 8px 0px 8px;
  color: #56606d;
}
#workspaces button.active, #clock, #pulseaudio {
  padding: 8px 8px 0px 8px;
  color: #9bbfbf;
}
#workspaces button:hover, #waybar {
  background: none;
  box-shadow: none;
}
#workspaces button.urgent, #custom-gpu-temp.critical,
#network.disconnected, #temperature.critical, #pulseaudio.muted {
  color: #E0AEA4;
}

#custom-div {
  padding: 8px 8px 0px 8px;
  color: #9bbfbf;
}

#custom-div2 {
  padding: 8px 8px 0px 8px;
  color: #dfdfdd;
}

#workspaces button.special {
  color: #c8a4e0;
}

#cpu, #custom-gpu-info, #temperature,
#custom-gpu-temp, #network, #memory {
  padding: 8px 8px 0px 8px;
  font-weight: normal;
  color: #dfdfdd;
}

#custom-waybar-mpris {
  padding: 8px 0px 0px 8px;
  color: #b6e0a4;
}

#custom-pacman {
  padding: 8px 8px 0px 8px;
  color: #9bbfbf;
}
#custom-pacman.pending-updates {
  padding: 8px 8px 0px 12px;
  color: #e0d8a4;
}

#tray-expander {
  padding: 8px 0px 0px 8px;
  color: #9bbfbf;
}
#tray {
  padding: 0px 12px 0px 4px;
}

tooltip {
  background-color: #000000;
  border: 1px solid #20242a;
  border-radius: 0;
}
tooltip label{
  color: #DFDFDD;
  font-size: 13px;
  font-weight: normal;
  margin: -4px;
}
