/**
*  ▄███████▄     ▄████████ ███▄▄▄▄                            
* ██▀     ▄██   ███    ███ ███▀▀▀██▄                          
*       ▄███▀   ███    █▀  ███   ███                          
*  ▀█▀▄███▀▄▄  ▄███▄▄▄     ███   ███                          
*   ▄███▀   ▀ ▀▀███▀▀▀     ███   ███                          
* ▄███▀         ███    █▄  ███   ███                          
* ███▄     ▄█   ███    ███ ███   ███                          
*  ▀████████▀   ██████████  ▀█   █▀                           
*                                                             
*  ▄█     █▄   ▄██████▄     ▄████████    ▄█   ▄█▄    ▄████████
* ███     ███ ███    ███   ███    ███   ███ ▄███▀   ███    ███
* ███     ███ ███    ███   ███    ███   ███▐██▀     ███    █▀ 
* ███     ███ ███    ███  ▄███▄▄▄▄██▀  ▄█████▀      ███       
* ███     ███ ███    ███ ▀▀███▀▀▀▀▀   ▀▀█████▄    ▀███████████
* ███     ███ ███    ███ ▀███████████   ███▐██▄            ███
* ███ ▄█▄ ███ ███    ███   ███    ███   ███ ▀███▄    ▄█    ███
*  ▀███▀███▀   ▀██████▀    ███    ███   ███   ▀█▀  ▄████████▀ 
*                          ███    ███   ▀                     
*
*               https://github.com/kbuckleys/               */

* {
  min-width: 0;
  min-height: 0;
  background-color: #0b0e0e;
  font-family: "0xProto Nerd Font";
  font-weight: 700;
  font-size: 12px;
}

#workspaces button {
  padding: 0px 8px 0px 8px;
  color: rgba(223, 223, 221, 0.45);
}
#workspaces button.active {
  color: #DFDFDD;
}
#workspaces button.urgent {
  background-color: #e0aea4;
  color: #0b0e0e;
}
#workspaces button:hover {
  box-shadow: none;
}

#custom-separator {
  padding: 0px 8px 0px 8px;
  color: #dfdfdd;
}

#temperature, #custom-gpu-temp, #network, #clock,
#custom-weather, #pulseaudio, #tray-expander,
#cpu, #custom-gpu-info, #memory {
  padding: 0px 8px 0px 8px;
  color: #DFDFDD;
}

#temperature.critical {
  color: #e0aea4;
}

#network.disconnected {
  color: #e0aea4;
}

#pulseaudio.muted {
  color: #e0d8a4;
}

#custom-waybar-mpris {
  padding: 0px 4px 0px 8px;
  color: #b6e0a4;
}

#custom-pacman {
  padding: 0px 4px 0px 0px;
}
#custom-pacman.pending-updates {
  padding: 0px 4px 0px 4px;
  color: #c8a4e0;
}

#tray-expander {
  padding: 0px 2px 0px 8px;
}
#tray {
  padding: 0px 8px 0px 0px;
}

tooltip {
  border: 0px;
  border-radius: 0px;
}
tooltip label{
  border-radius: 0px;
  color: #DFDFDD;
  margin: -4px -2px -4px -2px;
}
