/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

* {
  min-width: 0;
  min-height: 0;
  background-color: #000000;
  font-family: "0xProto Nerd Font";
  font-weight: 700;
  font-size: 12px;
}

#workspaces button {
  color: rgba(223, 223, 221, 0.45);
}
#workspaces button.active {
  color: #DFDFDD;
}
#workspaces button.urgent {
  color: #e0aea4;
}
#workspaces button:hover {
  box-shadow: none;
}

#custom-separator {
  color: #dfdfdd;
}

#cpu, #custom-gpu-info, #memory, #custom-separator,
#temperature, #custom-gpu-temp, #clock, #custom-weather {
  padding: 2px 8px 0px 8px;
  color: #DFDFDD;
}

#temperature.critical, #custom-gpu-temp.critical,
#network.disconnected {
  color: #e0aea4;
}

#network {
  padding: 3px 8px 0px 8px;
}

#custom-waybar-mpris {
  padding: 2px 4px 0px 4px;
  color: #b6e0a4;
}

#pulseaudio {
  padding: 2px 12px 0px 4px;
}
#pulseaudio.muted {
  color: #e0d8a4;
}

#custom-pacman {
  padding: 2px 8px 0px 4px;
}
#custom-pacman.pending-updates {
  color: #c8a4e0;
}

#tray-expander{
  padding: 2px 0px 0px;
  color: #DFDFDD;
}
#tray {
  padding: 0px 8px 0px 0px;
}

tooltip {
  border: 0px;
}
tooltip label{
  color: #DFDFDD;
  margin: -4px -2px -4px -2px;
}
