/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    location: south;
    anchor: south;
    width: 1050px;
}

inputbar {
    enabled: false;
}

message {
    background-color: rgb(22, 25, 29, 0.8);
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #fab387;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo SemiBold 12";
}

listview {
    fixed-height: false;
    scrollbar: false;
    columns: 2;
    lines: 8;
}

element {
    padding: 2px 8px 2px 8px;
}
element-text {
    highlight: bold #fab387;
}
element-text selected {
    background-color: transparent;
}
