/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 1050px;
}

inputbar {
    enabled: false;
}

textbox {
    text-color: #fab387;
    font: "JetBrainsMono Nerd Font Propo SemiBold 12";
}

listview {
    columns: 2;
    lines: 8;
}

element-text {
    highlight: bold #fab387;
}
