* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "0xProto Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: transparent;
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 4px 8px 4px 8px;
  margin: 3px 3px 0px 3px;
  border-radius: 4px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#workspaces button.active {
  background-color: #f2cdcd;
  border: 1px solid #11111b;
  color: #11111b;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory {
  padding: 4px 8px 4px 8px;
  margin: 3px 3px 0px 3px;
  border-radius: 4px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #a6e3a1;
}

#mpris, #custom-spotify {
  background-color: #a6e3a1;
  color: #11111b;
  border: 1px solid #11111b;
  padding: 4px 8px 4px 8px;
  margin: 3px 3px 0px 3px;
}

#window {
  background-color: #89b4fa;
  color: #11111b;
  border: 1px solid #11111b;
  padding: 4px 8px 4px 8px;
  margin: 3px 3px 0px 3px;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#clock.simpleclock {
  color: #89b4fa;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
