* {
  min-height: 0;
  min-width: 0;
  font-family: "0xProto Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
}

#workspaces button {
  padding: 4px 8px 4px 8px;
  margin: 3px 0 0px 3px;
  border-radius: 0px;
  color: #6c7086;
  background-color: #1e1e2e;
}

#workspaces button.active {
  background-color: #1e1e2e;
  border: 1px solid #11111b;
  color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #f38ba8;
}

#tray-expander,
#pulseaudio,
#cpu,
#memory,
#network {
  padding: 4px 8px 4px 8px;
  margin: 3px 0 3px 0;
  border-radius: 0;
  background-color: #11111b;
  color: #cdd6f4;
}

#mpris {
  background-color: #253324;
  color: #a6e3a1;
  border: 1px solid #11111b;
  padding: 4px 10px 4px 10px;
  margin: 3px 0 0px 0;
}

#window {
  background-color: #1c2433;
  color: #89b4fa;
  border: 1px solid #11111b;
  padding: 4px 10px 4px 10px;
  margin: 3px 0 0px 0;
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

#clock {
  padding: 4px 8px 4px 8px;
  margin: 3px 3px 3px 0;
  border-radius: 0;
  background-color: #11111b;
  color: #cdd6f4;
}

tooltip {
  border: 1px solid #313244;
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 0;
}
