/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
	drun-display-format: "{name}";
    terminal: "kitty -1";
    recursivebrowser {
        filter-regex: "(.*cache.*|.*\\.o)";
        cancel-returns-1: true;
        command: "xdg-open";
        directory: "~";
    }
    filebrowser {
        command: "kitty -1 yazi";
        show-hidden: true;
    }
}
