/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "kripton"

* {
    selected-normal-background: var(selected);
}

window {
    location: south;
    anchor: south;
    width: 44%;
}

mainbox {
    children: [listview];
}

listview {
    scrollbar: false;
    fixed-height: false;
    padding: 12px 0px 12px 0px;
    layout: vertical;
}

element-text {
    text-color: #e0d8a4;
    horizontal-align: 0.5;
}
