/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "kripton"

configuration {
    kb-remove-to-sol: "";
    kb-remove-char-back: "BackSpace";
}

window {
    location: south;
    anchor: south;
    width: 20%;
}

mainbox {
    children: [inputbar];
}

inputbar {
    spacing: 4px;
    padding: 4px 8px;
    children: [textbox-prompt-colon, entry];
}
textbox-prompt-colon {
    str: "Define >";
    text-color: #e0d8a4;
}
