/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

window {
    location: south;
    anchor: south;
    width: 1000px;
}

mainbox {
    children: [ message, listview ];
}

listview {
    fixed-height: false;
    scrollbar: false;
}

element {
    padding: 2px 8px 2px 8px;
}
element-text selected {
    background-color: transparent;
    text-color: #e78284;
}

message {
    background-color: #e78284;
}
