/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    location: south;
    anchor: south;
    width: 80%;
}

mainbox {
    children: [inputbar, listview];
}

inputbar {
    enabled: false;
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 3;
    lines: 8;
}

element {
    padding: 2px 8px 2px 8px;
}
element-text {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    highlight: bold #e0d8a4;
}
element-text selected {
    background-color: transparent;
}
