/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-char-back: "BackSpace";
    kb-remove-to-sol: "";
}

window {
    location: south;
    anchor: south;
    width: 400px;
}

mainbox {
    children: [ message, inputbar, listview ];
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 2;
    lines: 12;
}

element {
    padding: 2px 20px 2px 20px;
}
element-text {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    horizontal-align: 0.5;
    highlight: bold #9bbfbf;
    text-color: #dfdfdd;
}
element-text selected {
    background-color: transparent;
}

inputbar {
    children: [ entry ];
}
entry {
    font: "JetBrainsMono Nerd Font Propo SemiBold 14";
    horizontal-align: 0.5;
    color: #9bbfbf;
}

message {
    background-color: #16191d;
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #9bbfbf;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo SemiBold 14";
}
