/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
    kb-element-next: "";
    kb-remove-char-forward: "";
}

window {
    width: 80%;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    enabled: false;
}

listview {
    columns: 3;
    lines: 12;
}

element-text {
    highlight: bold #eebebe;
    font: "JetBrainsMono Nerd Font Propo Medium 13";
}

textbox {
    text-color: #6a707f;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

message {
    border-color: rgb(69, 80, 92, 0.3);
    border: 1px 0px 0px 0px;
}
