/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

* {
    selected-normal-background: none;
}

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
    kb-element-next: "";
    kb-remove-char-forward: "";
}

window {
    width: 80%;
}

mainbox {
    children: [ listview, message ];
}

listview {
    flow: horizontal;
    columns: 8;
    lines: 3;
}

element {
    orientation: vertical;
    children: [ element-icon ];
}
element-text {
    enabled: false;
}
element selected {
    border: 2px;
    border-radius: 2px;
    border-color: #6a707f;
}
element-icon {
    size: 200px;
}

textbox {
    text-color: #6a707f;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

message {
    border-color: rgb(69, 80, 92, 0.3);
    border: 1px 0px 0px 0px;
}
