/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

* {
    selected-normal-background: none;
}

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
    show-icons: true;
}

window {
    width: 80%;
    location: south;
    anchor: south;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    fixed-columns: true;
    fixed-height: false;
    columns: 8;
    lines: 3;
    flow: horizontal;
    scrollbar: false;
}

element {
    orientation: vertical;
    children: [ element-icon ];
    padding: 2px;
    border: 0px;
}
element-text {
    enabled: false;
}
element selected {
    border: 1px;
    border-color: #eebebe;
    background-color: none;
}
element-icon {
    size: 200px;
}

message {
    background-color: #16191d;
    padding: 5px 5px 5px 5px;
}
textbox {
    text-color: #eebebe;
    horizontal-align: 0.5;
    font: "0xProto Nerd Font Propo, DejaVu Sans Bold 12";
}
