/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 500px;
}

mainbox {
    children: [ message, inputbar, listview ];
}

inputbar {
    enabled: false;
}

element-text {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    horizontal-align: 0.5;
    highlight: bold #9bbfbf;
    text-color: #dfdfdd;
}

textbox {
    text-color: #9bbfbf;
    font: "JetBrainsMono Nerd Font Propo SemiBold 14";
}
message {
    padding: 7px 30px 2px 30px;
}
