/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

* {
    selected-normal-background: none;
}

configuration {
    fixed-num-lines: false;
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
    kb-element-next: "";
    kb-remove-char-forward: "";
    show-icons: true;
}

window {
    width: 80%;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    enabled: false;
}

listview {
    dynamic: true;
    columns: 16;
    lines: 4;
    flow: horizontal;
}

element {
    orientation: vertical;
    children: [ element-icon ];
}
element-text {
    enabled: false;
}
element selected {
    border: 2px;
    border-radius: 2px;
    border-color: #6a707f;
}
element-icon {
    size: 64px;
    padding: 0px 0px 0px 0px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

textbox {
    text-color: #6a707f;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

message {
    border-color: rgb(69, 80, 92, 0.3);
    border: 1px 0px 0px 0px;
}
