/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 500px;
    children: [ wrap, listview-split ];
}

wrap {
    expand: false;
    children: [ message ];
}

listview-split {
    orientation: horizontal;
    children: [ icon-current-entry, listview ];
}
listview {
    lines: 3;
}

icon-current-entry {
    background-image: url("%s", both);
    size: 80px;
}

element-text {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    horizontal-align: 0.5;
}

textbox {
    text-color: #dfdfdd;
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
}
