/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

* {
    selected-normal-background: none;
}

configuration {
    fixed-num-lines: false;
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
    kb-element-next: "";
    kb-remove-char-forward: "";
    show-icons: true;
}

window {
    location: south;
    anchor: south;
    width: 80%;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    enabled: false;
}

listview {
    padding: 2px 3px 0px 3px;
    fixed-columns: true;
    fixed-height: false;
    dynamic: true;
    scrollbar: false;
    columns: 16;
    lines: 4;
    flow: horizontal;
}

element {
    orientation: vertical;
    children: [ element-icon ];
    padding: 2px;
    border: 0px;
}
element-text {
    enabled: false;
}
element selected {
    border: 2px;
    border-radius: 2px;
    border-color: #6a707f;
    background-color: none;
}
element-icon {
    size: 64px;
    padding: 0px 0px 0px 0px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

message {
    background-color: #16191d;
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #6a707f;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
