* {
    color: #B3B3BE;
    background: #0C0C14;
    border: none;
    border-radius: 8px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #6F7296;
    background: #0C0C14;
    border-radius: 8px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #ECE6E0;
}
