/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 700px;
}

mainbox {
    children: [ message, inputbar, listview ];
}

textbox {
    text-color: #6a707f;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

inputbar {
    enabled: false;
}

element-text {
    highlight: bold #fab387;
    font: "JetBrainsMono Nerd Font Propo Medium 13";
}

entry {
    text-color: #fab387;
    font: "JetBrainsMono Nerd Font Propo Bold 13";
}

listview {
    lines: 12;
}
