* {
  min-height: 0;
  min-width: 0;
  font-family: "0xProto Nerd Font";
  background-color: #0B0E0E;
  font-size: 12px;
  font-weight: 700;
}

#workspaces button {
  padding: 2px 8px 2px 8px;
  color: #516666;
}
#workspaces button.active {
  color: #9bbfbf;
}
#workspaces button.urgent {
  color: #20242A;
}
#workspaces button:hover {
  box-shadow: none;
}

#custom-spotify {
  color: #c5e1a5;
  padding: 2px 8px 2px 8px;
}

#custom-weather,
#pulseaudio,
#cpu,
#custom-gpu-info,
#temperature,
#memory,
#network,
#clock {
  padding: 2px 8px 2px 8px;
  color: #9bbfbf;
}

#tray-expander {
  padding: 2px 4px 2px 8px;
  color: #9bbfbf;
}

#cpu, #custom-gpu-info, #memory {
  color: #BCA4E0;
}

#temperature {
  color: #e0a4a4;
}

#custom-gpu-temp {
  padding: 2px 8px 2px 0px;
  color: #e0a4a4;
}

#network {
  color: #E0DEA4;
}

#custom-updates {
  padding: 2px 8px 2px 8px;
  color: #9bbfbf;
}

tooltip {
  border: 1px solid #20242a;
  border-radius: 0px;
}

tooltip label{
  color: #9bbfbf;
  margin: -2px 0px -2px 0px;
  border: 0px;
}
