* {
  min-height: 0;
  min-width: 0;
  font-family: "0xProto Nerd Font";
  background-color: #0B0E0E;
  font-size: 12px;
  font-weight: 700;
}

#workspaces button {
  padding: 2px 8px 2px 8px;
  color: rgba(223, 223, 221, 0.45);
}
#workspaces button.active {
  color: #DFDFDD;
}
#workspaces button.urgent {
  background-color: #e0aea4;
  color: #0b0e0e;
}
#workspaces button:hover {
  box-shadow: none;
}

#cpu, #custom-gpu-info, #memory, #custom-spotify,
#network, #tray-expander, #custom-updates,
#temperature, #network, #clock,
#custom-weather, #pulseaudio {
  padding: 2px 8px 2px 8px;
  color: #DFDFDD;
}

tooltip {
  border: 0px;
}
tooltip label{
  color: #DFDFDD;
  margin: -4px -2px -4px -2px;
}
