/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    location: south;
    anchor: south;
    width: 1000px;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    children: [textbox-prompt-colon, entry];
    padding: 4px 8px;
    spacing: 4px;
}

message {
    background-color: rgb(22, 25, 29, 0.8);
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #9bbfbf;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
textbox-prompt-colon {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    padding: 2px 4px 2px 10px;
    color: #e78284;
    str: "";
}
entry {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    text-color: #eebebe;
}

listview {
    padding: 0px 3px 0px 3px;
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 2;
    lines: 12;
}

element {
    padding: 2px 20px 2px 20px;
}
element-text {
    highlight: bold #eebebe;
}
element-text selected {
    background-color: transparent;
    text-color: #e78284;
}
