/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 1000px;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    children: [textbox-prompt-colon, entry];
    padding: 4px 8px;
    spacing: 4px;
}

textbox {
    text-color: #9bbfbf;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
textbox-prompt-colon {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    padding: 2px 4px 2px 10px;
    color: #e78284;
    str: "";
}
entry {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    text-color: #eebebe;
}

listview {
    columns: 2;
    lines: 12;
}

element-text {
    highlight: bold #eebebe;
}
element-text selected {
    text-color: #e78284;
}

message {
    border-color: rgb(69, 80, 92, 0.3);
    border: 1px 0px 0px 0px;
}
