/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

* {
    selected-normal-background: #e78284;
}

window {
    width: 1000px;
}

mainbox {
    children: [ message, listview ];
}

textbox {
    text-color: #000000;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

listview {
    columns: 2;
    lines: 1;
}

element-text {
    text-color: #e78284;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 13";
}
element-text.selected.normal {
    text-color: #000000;
}

message {
    background-color: #e78284;
    padding: 10px 10px 10px 10px;
}
