/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@theme "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 1000px;
}

mainbox {
    children: [ inputbar, listview, message ];
}

inputbar {
    children: [textbox-prompt-colon, entry];
    border-color: rgba(155, 191, 191, 0.2);
    border: 0px 0px 1px 0px;
}

textbox {
    text-color: #dfdfdd;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
textbox-prompt-colon {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    color: #e78284;
    str: "";
}
entry {
    font: "JetBrainsMono Nerd Font Propo Medium 13";
    text-color: #eebebe;
}

listview {
    columns: 2;
    lines: 12;
}

element-text {
    highlight: bold #eebebe;
}
element-text selected {
    text-color: #e78284;
}

message {
    border: 1px 0px 0px 0px;
    margin: -2px 0px 0px 0px;
}
