/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: #fab387;
}

window {
    location: south;
    anchor: south;
    width: 100%;
    children: [ mainbox ];
}
mainbox {
    children: [ hbox ];
}
hbox {
    orientation: horizontal;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ textbox-prompt-colon, entry ];
    padding: 2px 12px 2px 12px;
    spacing: 4px;
    width: 15%;
}
textbox-prompt-colon {
    padding: 2px 0px 2px 0px;
    color: #fab387;
    str: " ";
}
entry {
    text-color: #fab387;
}

listview {
    layout: horizontal;
    lines: 50;
}

element {
    padding: 2px 12px 2px 12px;
}
element-text {
    highlight: bold;
    text-color: #fab387;
}
element-text.selected {
    text-color: #000000;
}
