/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: #fab387;
}

window {
    location: south;
    anchor: south;
    width: 100%;
    children: [ mainbox ];
}

mainbox {
    children: [ hbox ];
}

hbox {
    orientation: horizontal;
    children: [ message, listview ];
}

textbox {
    text-color: #fab387;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}

listview {
    layout: horizontal;
    fixed-height: true;
    scrollbar: false;
}

element {
    padding: 2px 12px 2px 12px;
}
element-text {
    text-color: #fab387;
}
element-text.selected.normal {
    background-color: transparent;
    text-color: #000000;
}

message {
    background-color: rgb(40, 47, 54, 0.4);
    padding: 2px 8px 2px 8px;
    expand: true;
}
