/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: #fab387;
}

window {
    location: south;
    anchor: south;
    width: 100%;
    children: [ mainbox ];
}

mainbox {
    children: [ hbox ];
}

hbox {
    orientation: horizontal;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ textbox-prompt-colon, entry ];
    padding: 2px 12px 2px 12px;
    spacing: 4px;
    width: 15%;
}

textbox-prompt-colon {
    str: " ";
    color: #fab387;
    expand: false;
}

entry {
    text-color: #e0d8a4;
    placeholder: "";
}

listview {
    layout: horizontal;
    lines: 50;
    fixed-height: true;
    scrollbar: false;
}

element {
    padding: 2px 12px 2px 12px;
}
element-text {
    highlight: bold;
    text-color: #fab387;
    orientation: horizontal;
}
element-text.selected {
    text-color: #000000;
}
