[Desktop Entry]
Name=Mail
Comment=Tutanota
Exec=firefox --new-window https://app.tuta.com/
Type=Application
Terminal=false
Icon=mail-message-new
StartupNotify=true
