[Desktop Entry]
Name=Neovim
Comment=IDE
Exec=footclient -e nvim %f
Type=Application
Terminal=false
MimeType=text/plain;text/*
Icon=neovim
StartupNotify=true
