[Desktop Entry]
Name=Neovim
Comment=IDE
Exec=foot -e nvim %F
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;TextEditor;
MimeType=text/plain;
