[Desktop Entry]
Name=Superseedr
Comment=TUI Bittorrent Client
Exec=superseedr
Terminal=true
Type=Application
Categories=Network;FileTransfer;
MimeType=application/x-bittorrent;application/x-torrent;x-scheme-handler/magnet;
Keywords=torrent;bit;btc;bittorrent;magnet;
